<% if @item && @item.errors.any? %>
  <ul>
    <% @item.errors.full_messages.each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<h2>Update an Item </h2>
<br>

<form action="/items/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="item[user_id]" value="<%= @item.user_id %>">

  Item Name:
  <input type="text" name="item[name]" value="<%= @item.name %>" >
  <br><br>
  Condition:
  <select name="item[condition]">
  <option value="condition"><%= @item.condition %></option>
    <option value="new">New</option>
    <option value="gently">Gently Used</option>
    <option value="fair">Fair</option>
    <option value="old">Old</option>
  </select>

  <br><br>
  Start At:
  <input type="text" name="item[start_time]" value= "<%= @item.start_time%>">
  <br><br>

  Ends At:
  <input type="text" name="item[end_time]" value= "<%= @item.end_time%>">

  <br>  <br>
  Description:
  <textarea rows="4" cols="50" type="text" name="item[description]"><%= @item.description %></textarea>
  <br>  <br>
  <input type="submit" value="Update">
</form>
